.body {
    background-color: rgb(233, 218, 218);


    .example-spacer {
        flex: 1 1 auto;
    }

    .content {
        padding: 1rem 5rem 5rem 5rem;
    }

    .toolbar {
        padding: 0 5rem 0 5rem;
        color: cadetblue;
    }
}

@media screen and (max-width: 768px) {
    .body {
        .content {
            padding: 1rem 1rem 1rem 1rem;
        }

        .toolbar {
            padding: 0 1rem 0 1rem;
        }
    }
}